<template>
  <site-template>
    <span slot="menuesquerdo">

      <div class="row valign-wrapper">
        <grid-vue tamanho="4">
          <img :src="usuario.imagem" :alt="usuario.name" class="circle responsive-img"> <!-- notice the "circle" class -->
        </grid-vue>
        <grid-vue tamanho="8">
          <span class="black-text">
          <h5>{{ usuario.name }}</h5>
          This is a square image. Add the "circle" class to it to make it appear circular.
          </span>
        </grid-vue>
      </div>

    </span>

    <span slot="principal">

      <div class="row">
        <publicar-conteudo-vue></publicar-conteudo-vue>
      </div>
      <div class="row">
        <card-conteudo-vue perfil="yuna.jpg" nome="Maria Silva" data="12/01/18 12:35">
          <card-detalhe-vue imagem="https://materializecss.com/images/sample-1.jpg" texto="Texto Teste" titulo="Teste TItulo"></card-detalhe-vue>
        </card-conteudo-vue>
      </div>

    </span>
  </site-template>
</template>

<script>
import SiteTemplate from '@/templates/SiteTemplate'
import CardConteudoVue from '@/components/social/CardConteudoVue'
import CardDetalheVue from '@/components/social/CardDetalheVue'
import PublicarConteudoVue from '@/components/social/PublicarConteudoVue'
import GridVue from '@/components/layouts/GridVue'
import { mapGetters } from 'vuex'

export default {
  name: 'Home',
  components: {
      SiteTemplate,
      CardConteudoVue,
      CardDetalheVue,
      PublicarConteudoVue,
      GridVue
  },
  data() {
      return {
          user: false
      }
  },
  created() {
      this.user = this.$store.getters['user/getUser']

      if (!this.user || this.user == "") {
          this.$router.push('/login')
      }
  },
  computed: {
      ...mapGetters({
          usuario: 'user/getUser'
      })
  },
}
</script>