<template>
    <span>
        <grid-vue tamanho="12" class="input-field">
            <input id="conteudoID" type="text" v-model="post.title">
            <textarea v-if="post.title"  placeholder="Conteúdo" v-model="post.text" class="materialize-textarea"></textarea>
            <input v-if="post.title && post.text" placeholder="Link" type="text" v-model="post.link">
            <input v-if="post.title && post.text" placeholder="Url da Imagem" type="text" v-model="post.image">
            <label for="conteudoID">O que está acontencendo?</label>
        </grid-vue>
        <p class="right-align">
            <button @click="insertPost()" v-if="post.title && post.text" class="btn waves-effect waves-light">Publicar</button>
        </p>
    </span>
</template>

<script>
    import GridVue from '@/components/layouts/GridVue'

    export default {
        name: "PublicarConteudoVue",
        components: {
            GridVue
        },
        data () {
            return {
                post: {
                    title: String,
                    text:  String,
                    image: String,
                    link:  String,
                    data:  Date
                }
            }
        },
        methods: {
            insertPost() {
                console.log(this.post)
            }
        }
    }
</script>