<template>
  <nav :class="color || ''">
      <div class="nav-wrapper container">
        <!--<a :href="url || '/'" class="brand-logo">{{ logo || 'Site' }}</a>-->
        <router-link :to="url || '/'"  class="brand-logo">{{ logo || 'Site' }}</router-link>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <slot />
        </ul>
      </div>
    </nav>
</template>

<script>
export default {
  name: 'NavBarVue',
  props: [
    'logo','url','color'
  ]
}
</script>