<template>
    <site-template>

        <span slot="menuesquerdo">
            <img :src="form.imagem" class="responsive-img" />
        </span>

        <span slot="principal">
            <h2>Perfil</h2>
            <input type="text" placeholder="Nome" v-model="form.name">
            <input type="text" placeholder="E-mail" v-model="form.email">
            <div class="file-field input-field">
              <div class="btn">
                <span>Imagem</span>
                <input type="file" @change="uploadImagem">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" v-model="form.imagem">
              </div>
            </div>

            <input type="password" placeholder="Senha" v-model="form.password">
            <input type="password" placeholder="Confirme sua senha" v-model="form.password_confirmation">
            <button class="btn" @click="editarCadastro()">Atualizar</button>


            <ul class="collection" v-if="msgError !=  ''">
                <li class="collection-item" v-for="(value, key, index) in msgError">
                    <span class="red-text">{{ value[0] }}</span>
                </li>
            </ul>
        </span>

    </site-template>
</template>

<script>
    import SiteTemplate from '@/templates/SiteTemplate'
    import { mapGetters } from 'vuex'

    export default {
        name: "Perfil",
        components: {
            SiteTemplate
        },
        data() {
            return {
                msgError: []
            }
        },
        computed: {
            ...mapGetters({
                form: 'user/getUser'
            })
        },
        methods: {
            uploadImagem(e){
                let arquivo = e.target.files || e.dataTransfer.files
                if (!arquivo.length) {
                    return
                }
                let reader = new FileReader()
                reader.onload = (e) => {
                    this.form.imagem = e.target.result
                }
                reader.readAsDataURL(arquivo[0])
            },
            editarCadastro() {
                this.$store.dispatch('user/update', this.form)
                    .then(() => {
                        alert('perfil Atualizado')
                    })
                    .catch((error) => {

                        this.msgError = error
                    })
            }
        }
    }
</script>