<template>
    <login-template>

        <span slot="menuesquerdo">
            <img src="https://static.quizur.com/i/b/5b035c77702c13.471891555b035c775c3ff9.54480388.png" class="responsive-img" />
        </span>

        <span slot="principal">
            <h2>Cadastro</h2>
            <input type="text" placeholder="Nome" v-model="form.name">
            <input type="text" placeholder="E-mail" v-model="form.email">
            <input type="password" placeholder="Senha" v-model="form.password">
            <input type="password" placeholder="Confirme sua senha" v-model="form.password_confirmation">
            <button class="btn" @click="cadastrar()">ENVIAR</button>
            <router-link to="/login" class="btn orange">JÁ TENHO CONTA</router-link>

            <ul class="collection" v-if="msgError !=  ''">
                <li class="collection-item" v-for="(value, key, index) in msgError">
                    <span class="red-text">{{ value[0] }}</span>
                </li>
            </ul>
        </span>

    </login-template>
</template>

<script>
    import LoginTemplate from '@/templates/LoginTemplate'

    export default {
        name: "Cadastro",
        components: {
            LoginTemplate
        },
        data() {
            return {
                form: {
                    name: String,
                    email: String,
                    password: String,
                    password_confirmation: String
                },
                msgError: []
            }
        },
        methods: {
            cadastrar() {
                this.$store.dispatch('user/create', this.form)
                    .then(() => {
                        this.$router.push('/')
                    })
                    .catch((error) => {
                        this.msgError = error
                    })
            }
        }
    }
</script>