<template>
    <login-template>

        <span slot="menuesquerdo">
            <img src="https://static.quizur.com/i/b/5b035c77702c13.471891555b035c775c3ff9.54480388.png" class="responsive-img" />
        </span>

        <span slot="principal">
            <h2>Login</h2>
            <input type="text" placeholder="E-mail" v-model="credentials.email">
            <input type="password" placeholder="Senha" v-model="credentials.password">
            <button class="btn" @click="login()">ENTRAR</button>
            <router-link to="/cadastro" class="btn orange">CADASTRE-SE</router-link>

        <ul class="collection" v-if="msgError !=  ''">
            <li class="collection-item" v-for="(value, key, index) in msgError">
                <span class="red-text">{{ value[0] }}</span>
            </li>
        </ul>



        </span>

    </login-template>
</template>

<script>
    import LoginTemplate from '@/templates/LoginTemplate'

    export default {
        name: "Login",
        components: {
            LoginTemplate
        },
        filters: {
            capitalize: function (value) {
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        },
        data () {
            return {
                credentials: {
                    email: String,
                    password: String
                },
                msgError: []
            }
        },
        methods: {
            login() {
                this.$store.dispatch('user/authenticate', this.credentials)
                    .then(() => {
                        this.msgError = []
                        this.$router.push('/')
                    })
                    .catch((error) => {
                        this.msgError = error
                    })
            }
        }

    }
</script>