<template>
    <div id="app">
    <span>
      <header>
        <nav-bar-vue
                color="green darkeen-1"
                logo="Social"
                url="/"
        >
            <li>
                <router-link to="/login">Entrar</router-link>
            </li>
            <li>
                <router-link to="/cadastro">Cadastre-se</router-link>
            </li>
        </nav-bar-vue>
      </header>
      <main>
        <div class="container">
          <div class="row">
            <grid-vue tamanho="6">
                <card-menu-vue>
                    <slot name="menuesquerdo" />
                </card-menu-vue>
            </grid-vue>
            <grid-vue tamanho="6">
              <slot name="principal" />
            </grid-vue>
          </div>
        </div>
      </main>
      <footer-vue color="green darkeen-1">
        <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
      </footer-vue>
    </span>
    </div>
</template>

<script>
    import NavBarVue from '@/components/layouts/NavBarVue'
    import FooterVue from '@/components/layouts/FooterVue'
    import GridVue from '@/components/layouts/GridVue'
    import CardMenuVue from '@/components/layouts/CardMenuVue'

    export default {
        name: 'LoginTemplate',
        components: {
            NavBarVue,
            FooterVue,
            GridVue,
            CardMenuVue
        },
        created() {
            let user = sessionStorage.getItem('user')
            if (user) {
                this.$router.push('/')
            }
        }
    }
</script>

<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
</style>
