<template>
    <div id="app">
    <span>
      <header>
        <nav-bar-vue
                color="green darkeen-1"
                logo="Social"
                url="/"
        >
          <li>
            <router-link to="/">Home</router-link>
          </li>
          <li v-if="!user">
            <router-link to="/login">Entrar</router-link>
          </li>
          <li v-if="user">
                <router-link to="/perfil">{{ user.name }}</router-link>
            </li>
            <li v-if="user">
                <a @click="sair()">Sair</a>
            </li>
        </nav-bar-vue>
      </header>
      <main>
        <div class="container">
          <div class="row">
            <grid-vue tamanho="4">
              <card-menu-vue>
                <slot name="menuesquerdo" />
              </card-menu-vue>
              <card-menu-vue>
                <h3>Amigos</h3>
                <li>Jose</li>
                <li>Jose2</li>
                <li>Jose3</li>
              </card-menu-vue>
            </grid-vue>
            <grid-vue tamanho="8">
              <slot name="principal" />
            </grid-vue>
          </div>
        </div>
      </main>
      <footer-vue color="green darkeen-1">
        <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
      </footer-vue>
    </span>
    </div>
</template>

<script>
    import NavBarVue from '@/components/layouts/NavBarVue'
    import FooterVue from '@/components/layouts/FooterVue'
    import GridVue from '@/components/layouts/GridVue'
    import CardMenuVue from '@/components/layouts/CardMenuVue'
    import { mapGetters } from 'vuex'

    export default {
        name: 'SiteTemplate',
        components: {
            NavBarVue,
            FooterVue,
            GridVue,
            CardMenuVue
        },
        data() {
            return {
                user: false
            }
        },
        created() {
            this.user = this.$store.getters['user/getUser']

            if (!this.user || this.user == "") {
                this.$router.push('/login')
            }
        },
        methods: {
            sair() {
                this.$store.dispatch('user/logout')
                    .then(() => {
                      this.$router.push('/login')
                    })
            }
        }
    }
</script>

<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
</style>
